<app-film-player></app-film-player>
<div class="flex w-full" *ngIf="film">
  <div class="p-6">
    <app-poster [photoUrl]="film.posterUrl" [width]="300" [height]="460"></app-poster>
    <div class="flex mt-4 justify-between">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-md transition duration-300 ease-in-out hover:bg-blue-600 w-3/5">
        Add to list
      </button>
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-md transition duration-300 ease-in-out hover:bg-blue-600 w-1/3">
        Trailer
      </button>
    </div>
  </div>

  <div class="p-6 text-white w-3/5">
    <h1 class="text-6xl font-bold">{{film.name}}</h1>
    <div class="mt-8">
      <div class="flex">
        <label class="w-24">Year:</label>
        <span>{{film.year}}</span>
      </div>

      <div class="flex mt-4">
        <label class="w-24">Genres:</label>
        <span>{{getGenresString()}}</span>
      </div>

      <div class="flex mt-4">
        <label class="w-24">Actors:</label>
        <span>{{getActorsString()}}</span>
      </div>
    </div>

    <h3 class="text-3xl mt-8">About Film</h3>
    <p>{{film.description}}</p>
  </div>

  <div class="p-6 text-white bg-gray-400 flex-grow flex flex-col">
    <h3 class="text-3xl">Comments</h3>
    <div class="mt-4 flex-grow">
      <div *ngFor="let comment of comments" class="bg-gray-800 p-3 rounded mt-2">
        <div class="flex items-center">
          <app-avatar [name]="comment.user.userName" [photoUrl]="comment.user.avatarUrl" [size]="30"></app-avatar>
          <h3 class="ml-3">{{comment.user.userName}}</h3>
        </div>
        <p class="mt-1">{{comment.text}}</p>
      </div>
    </div>
    <div class="flex gap-2">
      <app-input class="flex-grow" [formControl]="$any(commentForm.controls['newComment'])"
                 [label]="'comment'"
                 placeholder="Leave comment">
      </app-input>
      <button class="bg-blue-600 text-white px-4 py-2 rounded-md w-16" (click)="addComment()">Send</button>
    </div>
  </div>
</div>
