<div class="h-full bg-gray-700 py-2 px-4 rounded relative cursor-pointer" [ngStyle]="{'width': width}">
  <div class="h-full w-full" (click)="toggleDropdown()">
    <div class="items-center text-gray-400">
      {{selectedItems.length === 0 ? placeholder : selectedItems.length + ' items'}}
    </div>
    <div [class.rotate-180]="isDropdownOpen" class="transition pointer-events-none absolute inset-y-0 right-0 flex items-center justify-center px-2 text-gray-900">
      <svg
        class="fill-current h-8 w-8"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 8.293a1 1 0 011.414 0L10 9.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
  <div class="absolute bg-gray-700 w-full left-0 p-3 rounded z-20" *ngIf="isDropdownOpen">
    <div *ngFor="let option of options" [class.selected]="isSelected(option)">
      <label class="inline-flex items-center cursor-pointer w-full">
        <input
          type="checkbox"
          [value]="option"
          [checked]="isSelected(option)"
          (change)="toggleSelection(option)"
          class="bg-none h-5 w-5 text-blue-600 cursor-pointer"
        />
        <span class="ml-2 text-white" [class.text-blue-300]="isSelected(option)">{{ option[labelField] }}</span>
      </label>
    </div>
  </div>
</div>
