<aside class="bg-gray-900 h-full text-white p-6 flex flex-col justify-between items-center">
  <div class="flex flex-col items-center text-center mb-6">
      <a routerLink="/admin/films" class="text-white hover:text-gray-300 py-2">Films</a>
      <a routerLink="/admin/genres" class="text-white hover:text-gray-300 py-2">Genres</a>
      <a routerLink="/admin/actors" class="text-white hover:text-gray-300 py-2">Actors</a>
      <a routerLink="/admin/users" class="text-white hover:text-gray-300 py-2">Users</a>
  </div>
</aside>
