<div class="flex justify-around p-10">
  <div class="flex-col w-1/4">
    <div class="flex-1 mb-4">
      <app-input  [formControl]="$any(userNameForm.controls['userName'])" [label]="'Username'" [type]="'text'"
                 placeholder="Enter your Username"></app-input>
    </div>
    <button class="mb-8 bg-blue-600 text-white px-4 py-2 rounded-md" (click)="updateUserName()">Change username</button>

      <div class="flex-1 mb-4">
        <app-input [formControl]="$any(passwordForm.controls['currentPassword'])" [label]="'password'"
                   [type]="'password'" placeholder="Enter your Password"></app-input>
      </div>

      <div class="flex-1 mb-4">
        <app-input [formControl]="$any(passwordForm.controls['newPassword'])" [label]="'New Password'"
                   [type]="'password'"
                   placeholder="Enter New Password"></app-input>
      </div>

      <div class="flex-1 mb-4">
        <app-input [formControl]="$any(passwordForm.controls['confirmNewPassword'])" [label]="'Confirm New Password'"
                   [type]="'password'" placeholder="Confirm New Password"></app-input>
      </div>
      <button class=" bg-blue-600 text-white px-4 py-2 rounded-md" (click)="updatePassword()">Change Password</button>
  </div>
  <!-- Фото та кнопка зміни фото -->
  <div class="flex items-start">
    <div class="relative">
      <app-avatar [name]="currentUser?.userName" [photoUrl]="''" [size]="250"></app-avatar>
      <button class="absolute bottom-0 right-0 ml-4 bg-blue-600 text-white px-4 py-2 rounded-md">Edit</button>
    </div>

  </div>
</div>
